Nuovo treno storico: *{{.Title | escape}}*
{{.Subtitle | escape}}
{{if .IsTimeless}}
*⏳Treno su binari senza tempo⏳*
{{end}}
*{{.Locomotive}}*
{{- if eq .Locomotive "Treno con locomotiva diesel" }}🚈{{end}}
{{- if eq .Locomotive "Treno con locomotiva a vapore"}}🚂{{end}}
{{- if eq .Locomotive "Treno con locomotiva elettrica" }}🚃{{end}}
{{- if eq .Locomotive "Treno con automotrici" }}🚞{{end}}
{{- if eq .Locomotive "Elettrotreno" }}🚄{{end}}
{{.LocomotiveDetails | escape}}

 📅 {{.Date | convertDate }}
{{ if ne .PriceAdult "" }}
🏷️ Prezzo {{ .PriceAdult | escape -}}€
{{- if ne .PriceChildren ""}} \(Bambini {{.PriceChildren | escape }}€\) {{end -}}
{{end}}

Partenza da *{{.DepartureStation | escape}}* 
{{- if ne .DepartureTime ""}} alle _{{.DepartureTime}}_{{end}}
Arrivo a *{{.ArriveStation | escape}}*
{{- if ne .ArriveTime ""}} alle _{{.ArriveTime}}_{{end}}
{{- if ne .ReturnDepartureTime "" }}
🔙 Ritorno alle _{{.ReturnDepartureTime}}_,
{{- if ne .ReturnArriveTime "" }} arrivo alle _{{.ReturnArriveTime}}_ {{ end }}
{{ end }}
{{ if ne .PriceAdultReturn "" }}
🏷️ Prezzo {{ .PriceAdultReturn | escape }}€
{{- if ne .PriceChildrenReturn ""}} \(Bambini {{.PriceChildrenReturn | escape }}€\) {{end}}
{{end}}